<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include macros for dynamics plugins -->
  <xacro:include filename="$(find sailboat_gazebo)/urdf/macros.xacro" />
  <!-- Defines the base vehicle -->
  <xacro:include filename="$(find sailboat_description)/urdf/sailboat_base.urdf.xacro" />
  <!-- Attach hydrodynamics plugin -->
  <xacro:usv_dynamics_gazebo name="sailboat_dynamics_plugin"/>
  <!-- Attach wind plugin -->
  <!--<xacro:usv_wind_gazebo name="sailboat_wind_plugin"/>-->
  
</robot>
