<?xml version="1.0"?>
<launch>
  <!-- If true, run gazebo GUI -->
  <arg name="gui" default="true" />
  <!-- If true, run gazebo in verbose mode -->
  <arg name="verbose" default="false"/>

  <!-- Initial USV location and attitude-->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.1" />
  <arg name="P" default="0" />
  <arg name="R" default="0" />
  <arg name="Y" default="0" />

 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true" />
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="true"/>
    <arg name="verbose" value="true"/>
</include>

  <arg name="urdf" default="$(find sailboat_gazebo)/urdf/sailboat_gazebo.urdf.xacro"/>

  <param name="robot_description"
        command="$(find xacro)/xacro &#x002D;&#x002D;inorder '$(arg urdf)'"/>

  <!-- Spawn model in Gazebo -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
  args="-x $(arg x) -y $(arg y) -z $(arg z)
        -R $(arg R) -P $(arg P) -Y $(arg Y)
        -urdf -param robot_description -model sailboat"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /-->

</launch>