<?xml version="1.0"?>
<launch>
  <!-- Load robot model -->
	<arg name="urdf" default="$(find sailboat_gazebo)/urdf/sailboat_gazebo.urdf.xacro"/>
	<param name="robot_description"
	       command="$(find xacro)/xacro &#x002D;&#x002D;inorder '$(arg urdf)'
	       namespace:=$(arg namespace) "/>

  <!-- Spawn model in Gazebo, script depending on non_competition_mode -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" if="$(arg non_competition_mode)"
        args="-x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg R) -P $(arg P) -Y $(arg Y)
              -urdf -param robot_description -model sailboat"/>


  <!-- LOADING JOINT POSITION CONTROLLER -->
  <rosparam file="$(find sailboat_description)/config/config.yaml" command="load"/>

  <node name="controller_spawner" 
            pkg ="controller_manager" 
            type="spawner" 
            ns="/sailboat" 
            args="sail_joint_position_controller rudder_joint_position_controller joint_state_controller"/>
      
  <!-- converts joint states to TF transforms -->
  <node name="robot_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" 
        respawn="false" 
        output="screen">
      <remap from="joint_states" to="/sailboat/joint_states" />
  </node> 
  
</launch>