<?xml version="1.0"?>
<launch>

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find sailboat_description)/urdf/sailboat_base_with_motor.urdf.xacro"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

 	<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find sailboat_description)/rviz/sailboat_urdf.rviz"/>

</launch>